body {
   background-image: url(https://dazedimg-dazedgroup.netdna-ssl.com/2000/azure/dazed-prod/1090/8/1098805.jpg);
   background-repeat: no-repeat;
    background-size: 400PX 300PX;
    align-content: center;
   text-align: center;
   background-position: center;
   margin-top: 300px;



}

body img {

    width: 299px;
    height: 200px;
}